body{
    background-image: url("images/background.jpg");
    background-size: cover;   
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    margin-bottom: 70px;
}
center input[type=text]{
    background-color: #0b122f;
    color:rgba(255, 255, 255, 0.6);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    width: 300px;
    margin-bottom: 10px;
    padding:2px;
    border: 0.5px solid rgba(237, 187, 110, 0.6);
}
center input:focus[type=text]{
    outline-color:#edbb6e;
    outline-style: solid;
    outline-width: 1px;
    border: 0.5px solid #edbb6e;
    color:white;
}
#center1 img{
    width: 300px;
    padding-top: 40px;
    padding-bottom: 40px;
}
center input:focus[type=button]{
    outline-color:#edbb6e;
    outline-style: solid;
    outline-width: 1px;
}
center input[type=button]{
    color:white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    width: 300px;
    margin-bottom: 10px;
    padding:2px;
    border:none;
    border-radius: 0px;
    /*gradient background*/
    background: #148980; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#148980, #3f7a8b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#148980, #3f7a8b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#148980, #3f7a8b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#148980, #3f7a8b); /* Standard syntax */
    box-shadow: 1px 1px 1px #20202020;
}
#about{
    width: 100%;
    overflow: auto;
    background-color:rgba(11, 18, 47, 0.65);
    margin-top: 50px;  
    border-top: 1px solid rgba(220, 220, 220, 0.3);
    border-bottom: 1px solid rgba(220, 220, 220, 0.3);
    visibility: hidden;
}
.info{
    background-color: rgba(11, 18, 47, 0.9);
    border: 1px solid rgba(220, 220, 220, 0.3);
    border-radius: 5px;
    /*temp*/
    margin-top:40px; 
    margin-bottom:40px; 
}
#stats, #items{
    color:white;
    height:420px;
}
#items{
    color: #e8ae31;
    padding-top:25px;
    padding-left:25px;
    padding-right:25px;
}
#items table, #stats table{
    width:100%;
    height:100%;
    font-size: 12px;
}
#stats table h3{
    font-size: 18px;
}
#stats{
    padding-top:25px;
    padding-left:25px;
    padding-right:25px;
}
.statTable{
    text-align: right;
    padding-right: 20px;
}
.stat-name{
    text-align: left;
    color: #e8ae31;
}
#stats td, #items td{
    padding: 2px;
}
#stats td{
    vertical-align: top;
}
#profile img{
    border-radius: 5px;
    padding-left: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #e8ae31;
}
#stats h3, #items h3{
    margin-bottom: 5px;
    padding-left: 4px;
    margin-top: 0;
    font-size: 18px;
}
#line{
    height:90%;
    border-left-style: solid;
    border-left-color: white;
    border-left-width: 1px;
    
    -webkit-border-image: 
      -webkit-gradient(linear, 0 100%, 0 0, from(rgba(220, 220, 220, 0.2)), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(bottom, rgba(220, 220, 220, 0.2), rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(bottom, rgba(220, 220, 220, 0.2), rgba(0, 0, 0, 0)) 1 100%;  
    -o-border-image:
      -o-linear-gradient(bottom, rgba(220, 220, 220, 0.2), rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to top, rgba(220, 220, 220, 0.2), rgba(0, 0, 0, 0)) 1 100%;
}
td#profileside{
    padding-left:20px;
}
#close{
    width: 50px;
    cursor: pointer;
    padding-top: 20px;
}
.fit{
    padding-left:1%;
    padding-right: 1%;
}
#error{
    font-weight: bold;
    color:white;
    background-color: firebrick;
    width: 300px;
    padding:2px;
    visibility: hidden;
}







